body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin: 0;padding: 0;}

body{font-family: "Microsoft YaHei",SimHei,SimSun;font-size: 12px;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
input,select,textarea,samp{font-size: 100%;}
caption,th{text-align: left;}
abbr,acronym{border: 0;}
input,button,select,textarea{outline:none}
li{list-style:none}
img{border:none}
textarea{resize:none}
a{color:#000;text-decoration:none;outline:none}
a:link,a:visited{color:#fff;}
a:hover,a:active{color:#fff}
button{cursor: pointer;}

/* 清除浮动 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%}

/* 定位 */
.pr{position: relative;}
.pa{position: absolute;}
.fl{float: left;}
.fr{float: right;}

/* 字体 */
.fwb{font-weight: bold;}
.fcw{color: #fff;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}

/* 布局 */
.mt5{margin-top: 5px;}
.mt8{margin-top: 8px;}
.mt14{margin-top: 14px;}
.mr15{margin-right: 15px;}
.mt30{margin-top: 30px;}
.pt30{padding-top: 30px;}
.w1200{width: 1200px;}
.mauto{margin: 0 auto;}

/* 测试 */
.bb{border: 1px solid #000;}
